<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Art Islands </title>
</head>

<body>
    <div id="head-wrapper">
        <!-- Header -->
        <div id="header">
            <img src="./assets/img/banner.jpg" alt="Art Islands Tokyo 2020 banner">
            <h1 id="header-title">Charlotte Parallel</h1>
            {{ content }}
            <img src="./assets/img/orange line.jpg" alt="An orange line acts as a separator between header and main content">
        </div>
    </div>

    <!-- Content -->
    <!-- get markdown file and render in place -->
    <div id="content-wrapper">
        
    
    <div id="content">
        {% for post in site.posts %}
            {{ post.title }}
            {{ post.content }}
        {% endfor %}

    </div>
</div>

    </div>

</body>

</html>